.loaderCard {
  width: 100%;
  height: 100%;

  flex: 1 auto;
  display: flex;
  flex-direction: column;

  background: #ffffff;
  border-radius: 0.28571429rem;
  box-shadow: 0px 1px 1px 0px #d4d4d5, 0px 0px 0px 1px #d4d4d5;
  -webkit-box-shadow: 0px 1px 1px 0px #d4d4d5, 0px 0px 0px 1px #d4d4d5;
}

.widgetCard {
  height: 100%
}

.widgetMenu {
  flex-grow: unset !important;
}

.widgetNameMenu {
  max-width: inherit;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  padding-right: 10px;
}