$border-color: rgba(100, 100, 100, 0.2);
$top-section-min-height: 50px;
$sidebar-width: 150px;

$logo-max-width: 45px;
$logo-max-height: 45px;

// WRAPPER
.nav-wrapper {
    height: 100%;

    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
}

// TOP SECTION
.nav-top-section {
    min-height: $top-section-min-height;

    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
}

// BOTTOM SECTION
.nav-bottom-section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

// LOGO SECTION
.nav-logo-section {
    min-width: $sidebar-width;

    display: flex;
    flex-direction: row;

    align-items: center;
    background: #ffffff;
    border-right: 1px solid $border-color;
}

// LOGO
.app-logo {
    margin: 0 auto;
    max-height: $logo-max-height;
    max-width: $logo-max-width;
}

// MENU SECTION
.nav-menu-section {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

// TOPBAR
.nav-topbar {
    border: none !important;
    box-shadow: none !important;
}

// SIDEBAR SECTION
.nav-sidebar-section {
    min-width: $sidebar-width;

    display: flex;
    flex-direction: column;

    position: relative;
    box-shadow: none !important;
}

// SIDEBAR
.nav-sidebar {
    box-shadow: none !important;
}

// CONTENT SECTION
.nav-content-section {
    display: flex;
    flex: 1 auto;
    flex-direction: column;

    padding: 10px 10px 10px 10px;
    border-top: 1px solid $border-color;
}

// CONTENT CONTAINER
.nav-content-container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}