$border-color: rgba(100, 100, 100, 0.2);


.mySidebar {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.formContainer {
    border: 1px solid $border-color;
    background-color: white !important;
    padding: 15px;
}